Django==5.2.4
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.7.0
django-extensions==4.1
django-tailwind==4.0.1
django-redis==6.0.0
psycopg2-binary==2.9.10
redis==6.4.0
python-dotenv==1.1.1
channels==4.3.1
channels_redis==4.3.0
asgiref==3.9.1
daphne==4.2.1
requests==2.31.0
pillow==9.4.0
numpy==1.24.1

